
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>

<script>
  var firebaseConfig = {
    apiKey: "AIzaSyAWWyneF9JV-guDKTkKFFbt9Jr9RjZS7cc",
    authDomain: "recipe-67b29.firebaseapp.com",
    databaseURL: "https://recipe-67b29.firebaseio.com",
    projectId: "recipe-67b29",
    storageBucket: "recipe-67b29.appspot.com",
    messagingSenderId: "1052699366535",
    appId: "1:1052699366535:web:28ec63b69f6acf0c621422"
  };
  firebase.initializeApp(firebaseConfig);
  const db = firebase.firestore();
</script>